header {
    background: rgb(221, 218, 218);
    padding: 50px;
    width: 20%;
    margin-left: 500px;
}

h3 {
    color: rgb(41, 41, 132);
    text-align: center;
}

ol li{
    text-decoration: underline;
    padding: 5px;
}

ol {
    margin: 0;
}